<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <h1>AutoAttend</h1>
    </header>
    <div id="grid">
        <div id="upload_wrapper">
            <h1>Upload Attendance Photo</h1>
            <div id="upload_container">
                <form action="/api/v1/mark" method="post" id="sendFile" enctype="multipart/form-data">
                    <img src="#" alt=" " id="attendance_image">
                    <br>
                    <div id="inputs">
                        <input type="file" name="attendance" id="attendance" onchange="show_image(this);">
                        <input type="submit" value="Send Attendance">
                    </div>
                </form>    
            </div>
        </div>

        <div id="students_wrapper">
            <h1>Students</h1>
            <div id="students_container">
                <table id="students_table">
                    <tr>
                        <th>register number</th>
                        <th>name</th>
                        <th>class</th>
                        <th>remove student</th>
                        <th>edit student</th>
                    </tr>
                </table>
            </div>
        </div>

        <div id="records_wrapper">
            <h1>Attendance</h1>
            <div id="records_container">
                <table id="records_table">
                    <tr>
                        <th>register number</th>
                        <th>name</th>
                        <th>date</th>
                        <th>time</th>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>