<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
</head>
<body>
    <form action="" method="post">
        <h1>Edit Attendance</h1>
        <div id="form_container">
            {% for key, val in record_info.items() %}
            {% if key == '_id' %}
                <input type="hidden" name="{{ key }}" value="{{ val }}">
            {% elif key == 'reg' or key == 'name' %}
                <br>
                <div class="inputs">
                    <label for="{{ key }}">{{ key }}</label>
                    <input type="text" name="{{ key }}" value="{{ val }}" disabled class="disabled">    
                </div>
            {% else %}
                <br>
                <div class="inputs">
                    <label for="{{ key }}">{{ key }}</label>
                    <input type="text" name="{{ key }}" value="{{ val }}">    
                </div>
            {% endif %}
            {% endfor %}
            <br>
            <input type="submit" value="edit attendance">
        </div>
    </form>
</body>
</html>